<ng-container *ngIf="charge">

    <div class="row fadeInAnimated">
        <div class="col-4">
            <i class="fas fa-arrow-left fa-3x colorGr-Blue_-medium" routerLink='/manager/charge'></i>
        </div>
        <div class="col-4">
            <h1> {{charge.name}} </h1><br>
        </div>
        <div class="col-4"></div>
    </div>


    <div class="row fadeInAnimated">
        <div class="col">
            <h2>Datos Generales</h2>
            <p><b>Area:</b> {{charge.range}}<br><b>Salario:</b> {{charge.salaryMin}}-{{charge.salaryMax}} <br>
                <b>Descripción:</b> {{charge.description}} <br>
            </p>

            <div class="row">
                <div class="col-6">
                    <p> <b>Carreras:</b></p>
                    <ul>
                        <li *ngFor="let dt of charge.carreers"> {{dt.name}} </li>
                    </ul>
                </div>
                <div class="col-6">
                    <p><b>Procesos:</b> </p>
                    <ul>
                        <li *ngFor="let pr of charge.processes"> {{pr.name}} </li>
                    </ul>
                </div>
                <div class="col-6">
                    <p> <b>Habilidades fuertes:</b></p>
                    <ul>
                        <li *ngFor="let hs of charge.hardSkills"> {{hs.name}} </li>
                    </ul>

                </div>
                <div class="col-6">
                    <p><b>Habilidades blandas:</b> </p>
                    <ul>
                        <li *ngFor="let ss of charge.softSkills"> {{ss.name}} </li>
                    </ul>
                </div>
            </div>
            <button class="buttonGeneral bg-colorGR-blue-medium" (click)="verModalV()">Pedir vacante</button>
        </div>


        <div class="col">
            <h2>Vacantes en proceso</h2>
            <p>¡No hay vacantes para este cargo!</p>
            <div *ngFor="let vacant of charge.vacants">
                <div class="recruiterVacant">
                    <p><b>Fecha de creación: </b> {{vacant.startDate.substring(0,10)}} <br>
                        <b>Puestos disponibles: </b> {{vacant.placesNumber}}<br></p>
                    <div *ngFor="let recruiter of vacant.recruiters">
                        <p><b>Reclutador: </b>{{recruiter.name}}<br>
                            <b>Postulantes a cargo: </b>{{recruiter.postulants.length}}</p>
                        <div class="row" *ngFor="let postulant of recruiter.postulant">
                            <div class="col">
                                <img class="card-postulant bg-green-card" src="assets/img/perfil.jpeg" (click)="verModalP()">
                            </div>
                        </div><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>