h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.buttonGeneral {
    color: white;
    border: none;
    width: 170px;
    height: 35px;
    border-radius: 10px;
    margin-left: 20%;
}

.buttonGeneral:hover {
    background-color: #00CDC4!important;
}