<h3>Nombre de la empresa</h3>
<mat-dialog-content class="mat-typography">
    <p><b>Cargo:</b> Nombre del cargo<br> <b>Salario:</b> Rango del salario<br> <b>Descripción: </b>Descripción breve del cargo<br><b>Nro. vacantes:</b>6</p>
    <p> <b>Habilidades fuertes:</b></p>
    <ul>
        <li>Habilidad1</li>
        <li>Habilidad2</li>
        <li>Habilidad3</li>
    </ul>
    <label>Habilidades Blandas:</label>
    <input type="" class="inputLogIn" placeholder=""><br>
    <label>Procesos:</label><br>
    <input type="" class="inputLogIn" placeholder=""><br><br>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button class="buttonModalCancel" mat-button mat-dialog-close>Cancelar</button>
    <button class="buttonModalAccept" mat-button [mat-dialog-close]="true" cdkFocusInitial>Difundir vacante</button>
</mat-dialog-actions>