<h3>{{nameEmpresa}} </h3>
<ng-container *ngIf="JobPosition!=null">

<form>
    <mat-dialog-content class="mat-typography">
        <p><b>Cargo:</b> {{JobPosition.name}} <br>
            <b>Salario:</b>{{JobPosition.salaryMin | currency:'COP':true }}-{{JobPosition.salaryMax | currency:'COP':true }} <br>
            <b>Descripción: </b> {{JobPosition.description}} <br>
            <b>Nro. vacantes:</b> {{data.placesNumber}} </p>
        <div class="row">
            <div class="col">
                <p> <b>Habilidades fuertes:</b></p>
                <ul>
                    <li *ngFor="let hf of JobPosition.hardSkills"> {{hf.name}} </li>

                </ul>
            </div>
            <div class="col">
                <p> <b>Procesos:</b></p>
                <ul>
                    <li *ngFor="let hf of JobPosition.processes"> {{hf.name}} </li>

                </ul>
            </div>
        </div>

        

        <div class="row">
            <div class="col-6">
                    <label><b>Habilidades Blandas:</b></label>
            </div>
            <div class="col-6">
                    <label><b>Habilidades Blandas Seleccionadas</b></label>
            </div>
            <div class="col-6">
                <mat-form-field>
                    <mat-label>Habilidades existentes</mat-label>
                    <mat-select  multiple (selectionChange)="selectChange($event.value)"
                        #multiSelectSoft>
                        <mat-option>
                            <ngx-mat-select-search [formControl]="searchSoft" [placeholderLabel]="'Buscar habilidad'"
                                [noEntriesFoundLabel]="'No se encontró.'" [clearSearchInput]='false'>
                                <mat-icon ngxMatSelectSearchClear>X</mat-icon>
                            </ngx-mat-select-search>
                        </mat-option>
                        <mat-option *ngFor="let soft of filteredSoftCtrl | async" [value]="soft">{{soft.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field> 
            </div>
            <div class="col-6">
                    <mat-chip-list class="mat-chip-list-stacked" aria-label="Color selection">
                            <mat-chip   class="selectChip" *ngFor="let dat of selectSkill">
                                {{dat.name}}
                            </mat-chip>
                        </mat-chip-list><br>
            </div>
        </div>
      

    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button class="buttonModalCancel" mat-button mat-dialog-close>Cancelar</button>
        <button class="buttonModalAccept" mat-button (click)="difundir()" cdkFocusInitial>Difundir vacante</button>
    </mat-dialog-actions>
</form>
</ng-container>