<i class="fas fa-spinner fa-9x fa-spin" *ngIf="loading"></i>
<ng-container *ngIf="processVacant && processVacant.length>0">

    <div class="row">
        <div class="col-md-4 fadeInAnimated" *ngFor="let vacant of processVacant">
            <div class="vacancy">
                <img src="assets/img/see.svg" [routerLink]="['/recruiter/job',vacant.id+':'+vacant.idJobPosition]">
                <h5>{{vacant.jobPositionName}}</h5>
                <p><b>Puestos disponibles:</b>{{vacant.placesNumber}}<br>
                    <b>Reclutadores a cargo:</b>{{vacant.recruitersNumber}}</p>
            </div>
            <div class="postulants bg-colorGR-blue-medium">
                <div class="row">
                    <div class="col-6">
                        <p>{{vacant.startDate | date:'shortDate'}}</p>
                    </div>
                    <div class="col-3">
                        <img src="assets/img/employee.svg">
                    </div>
                    <div class="col-3">
                        <P id="number">{{vacant.postulantsNumber}}</P>
                    </div>
                </div>

            </div>
        </div>
    </div>
</ng-container>

<div class="NoData fadeInAnimated" *ngIf="processVacant && processVacant.length==0 && loading==false">
    <p>¡No hay ninguna vacante asignada!</p>
</div>

<!-- <div class="row">
    <div class="col-md-4">
        <div class="vacancy">
            <img src="assets/img/see.svg" [routerLink]="['/recruiter/job',1]">
            <h5>nombre cargo</h5>
            <p><b>Puestos disponibles:</b> 4<br>
                <b>Reclutadores a cargo:</b> 1</p>
        </div>
        <div class="postulants bg-colorGR-blue-medium">
            <div class="row">
                <div class="col-6">
                    <p>03-02-2018</p>
                </div>
                <div class="col-3">
                    <img src="assets/img/employee.svg">
                </div>
                <div class="col-3">
                    <P id="number"> 4</P>
                </div>
            </div>

        </div>
    </div>
</div> -->