<i class="fas fa-spinner fa-9x fadeInAnimated" *ngIf="loading"></i>
<div class="row">
    <div class="col-sm-4" *ngFor="let recruiter of recruiters">
        <div class="card-recruiter fadeInAnimated">
            <img src="assets/img/noPhoto.jpg">
            <p><b>{{recruiter.name}}</b></p>
            <div class="row">
                <div class="col-6">
                    <p class="vacPos"><img class="icon" src="assets/img/portfolio.svg"> {{recruiter.vacantsNumber}}</p>
                </div>
                <div class="col-6">
                    <p class="vacPos"><img class="icon" src="assets/img/employee.1.svg"> {{recruiter.postulantsNumber}} </p>
                </div>
            </div>
        </div>
    </div>

</div>
<h1 *ngIf="(recruiters==null || recruiters.length==0) && loading==false">No hay reclutadores registrados</h1>

<div class="spacePlus fadeInAnimated">
    <div class="row">
        <div class="col-9">
            <p>Agregar nuevo reclutador</p>
        </div>
        <div class="col-3">
            <button (click)="verModal()" class="button-plus bg-colorGR-blue-medium"> <img class="plus" src="assets/img/add (1).svg" ></button>
        </div>
    </div>


</div>