<div class="row">
    <div class="col-sm-4">
        <div class="card-recruiter ">
            <img src="assets/img/perfil.jpeg">
            <p>Nombre reclutador</p>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card-recruiter ">
            <img src="assets/img/perfil.jpeg">
            <p>Nombre reclutador</p>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card-recruiter ">
            <img src="assets/img/perfil.jpeg">
            <p>Nombre reclutador</p>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card-recruiter ">
            <img src="assets/img/perfil.jpeg">
            <p>Nombre reclutador</p>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card-recruiter ">
            <img src="assets/img/perfil.jpeg">
            <p>Nombre reclutador</p>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card-recruiter ">
            <img class="plus" src="assets/img/add (2).svg" (click)="verModal()">
        </div>
    </div>
</div>