<div class="row">
    <div class="col-sm-4">
        <div class="card-recruiter fadeInAnimated">
            <img src="assets/img/perfil.jpeg">
            <p><b>Nombre reclutador</b></p>
            <div class="row">
                <div class="col-6">
                    <p class="vacPos"><img class="icon" src="assets/img/portfolio.svg"> 6</p>
                </div>
                <div class="col-6">
                    <p class="vacPos"><img class="icon" src="assets/img/employee.1.svg"> 10</p>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="spacePlus ">
    <div class="row">
        <div class="col-9">
            <p>Agregar nuevo reclutador</p>
        </div>
        <div class="col-3">
            <button (click)="verModal()" class="button-plus bg-colorGR-blue-medium"> <img class="plus" src="assets/img/add (1).svg" ></button>
        </div>
    </div>


</div>