<h3>Datos Generales</h3>
<mat-dialog-content class="mat-typography">
    <div class="row" *ngIf=!update>
        <div class="col-4">
            <img class="card-postulant" src="assets/img/perfil.jpeg">
        </div>
        <div class="col-8">
            <div class="row">
                <div class="col-6">
                    <p><b>Nombre:</b><br>{{companyProfile.name}}<br>
                        <b>Correo:</b><br>{{companyProfile.email}} <br>
                        <b>NIT:</b><br>{{companyProfile.nit}}<br></p>
                </div>
                <div class="col-6">
                    <p><b>Teléfono:</b><br>{{companyProfile.phone}}<br>
                        <b>Dirección:</b><br>{{companyProfile.address}}<br></p>
                </div>
            </div>
        </div>
    </div>
    <form [formGroup]="form" novalidate="novalidate" *ngIf=update>
        <div class="row">
            <div class="col-6">
                <img class="card-postulant" src="assets/img/perfil.jpeg">
                <p><br><b>Teléfono:</b><br>
                    <input type="number" class="inputLogIn" placeholder="Teléfono" formControlName="phone" [ngClass]=" {'is-invalid':  !form.get('phone').valid && form.get('phone').touched } "><br>
                    <b>Dirección:</b><br>
                    <input type="text" class="inputLogIn" placeholder="Dirección de la compañía" formControlName="address" [ngClass]=" {'is-invalid':  !form.get('address').valid && form.get('address').touched } "></p>
            </div>
            <div class="col-6">
                <p><br><b>Nombre:</b><br>
                    <input type="text" class="inputLogIn" placeholder="Nombre de la compañía" formControlName="name" [ngClass]=" {'is-invalid':  !form.get('name').valid && form.get('name').touched } "><br>
                    <b>Correo:</b><br>
                    <input type="email" class="inputLogIn" placeholder="Correo electrónico" formControlName="email" [ngClass]=" {'is-invalid':  !form.get('email').valid && form.get('email').touched } "><br>
                    <b>NIT:</b><br>
                    <input type="text" class="inputLogIn" placeholder="NIT de la compañía" formControlName="nit" [ngClass]=" {'is-invalid':  !form.get('nit').valid && form.get('nit').touched } "></p>

            </div>
        </div>
    </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button class="buttonModalCancel" mat-button [mat-dialog-close]="true" cdkFocusInitial>Salir</button>
    <button class="buttonModalAccept" mat-button *ngIf=!update (click)="updateProfile(0)">Modificar</button>
    <button class="buttonModalAccept" mat-button *ngIf=update (click)="updateProfile(1)">Actualizar</button>
</mat-dialog-actions>