<h3>Datos Generales</h3>
<mat-dialog-content class="mat-typography">
    <div class="row">
        <div class="col-6">
            <img class="card-postulant" src="assets/img/perfil.jpeg">
        </div>
        <div class="col-6">
            <p><b>Nombre:</b><br>Nombre empresa<br>
                <b>Correo:</b><br>correo <br>
                <b>NIT:</b><br>NIT empresa<br>
                <b>Teléfono:</b><br>teléfono<br>
            </p>
        </div>
    </div>


</mat-dialog-content>
<mat-dialog-actions align="end">
    <button class="buttonModalAccept" mat-button [mat-dialog-close]="true" cdkFocusInitial>Salir</button>
</mat-dialog-actions>