<h3>Postulantes que aplicaron</h3>
<mat-dialog-content class="mat-typography fadeInAnimated">
    <form [formGroup]="form">
        <div class="row">
            <div class="col-6">
                <div class="row">
                    <div class="col-4">
                        <img class="card-postulant" src="assets/img/perfil2.jpg">
                    </div>
                    <div class="col-8">
                        <p>Nombre Postulante<br> Carrera del Postulante</p>
                        <button class="buttonModalAccept">Aceptar</button>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-4">
                        <img class="card-postulant" src="assets/img/perfil2.jpg">
                    </div>
                    <div class="col-8">
                        <p>Nombre Postulante<br> Carrera del Postulante</p>
                        <button class="buttonModalAccept">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button class="buttonModalCancel" mat-button mat-dialog-close>Cancelar</button>
</mat-dialog-actions>