<h3>Postulantes que aplicaron</h3>
<mat-dialog-content class="mat-typography fadeInAnimated">
    <form [formGroup]="form">
        <div class="NoData2 fadeInAnimated" *ngIf="postulants || postulants.lenght==0">
            <p>¡No hay postulantes para el cargo!</p>
        </div>
        <div class="row" *ngIf="postulants">
            <div class="col-6" *ngFor="let postulant of postulants">
                <div class="row">
                    <div class="col-4">
                        <img class="card-postulant" src="assets/img/perfil2.jpg">
                    </div>
                    <div class="col-8">
                        <p>{{postulant.name}}<br></p>
                        <ul *ngFor="let career of postulant.careers">
                            <li>{{career}}</li>
                        </ul>
                        <button class="buttonModalAccept">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button class="buttonModalCancel" mat-button mat-dialog-close>Cancelar</button>
    <button class="buttonModalAccept" mat-button (click)="seleccionar()" cdkFocusInitial *ngIf="!postulants">Seleccionar postulantes</button>
</mat-dialog-actions>