<h1>Habilidades globales</h1>

<div class="row">

    <ng-container *ngIf="softs!=null">
    
    <div class="col-md-3" *ngFor="let soft of softs" >
        <div>
            <div class="card-skills">
                <img src="assets/img/skills (1).svg">

            </div>
            <div class="skillG bg-colorGR-blue-medium">
                <p> {{soft.name}} </p>
            </div>
        </div>
    </div>
</ng-container>
    <div class="col-md-3">
        <div>
            <div class="card-skills" (click)="verModalC(1)">
                <img src="assets/img/add (2).svg">

            </div>
            <div class="skillG bg-colorGR-blue-medium">
                <p>Nueva habilidad</p>
            </div>
        </div>
    </div>
</div>




<h1>Habilidades generales</h1>
<div class="row">
    <div class="col-md-3">
        <div class="skill ">
            <div class="row">
                <div class="col-3">
                    <img src="assets/img/training.svg">
                </div>
                <div class="col-9">
                    <p>Nombre reclutador</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="skill plusS" (click)="verModalC(2)">
            <img src="assets/img/add (3).svg">
        </div>
    </div>
</div>