<h1>tarjetas habilidades globales</h1>


<div>
    <div class="card-skills">
        <img src="assets/img/skills (1).svg" (click)="verModal()">

    </div>
    <div class="skillG bg-colorGR-blue-medium">
        <p>Habilidad</p>
    </div>
</div>



<h1>tarjetas habilidades</h1>
<div class="skill ">
    <div class="row">
        <div class="col-3">
            <img src="assets/img/training.svg">
        </div>
        <div class="col-9">
            <p>Nombre reclutador</p>
        </div>
    </div>