<i class="fas fa-spinner fa-9x fa-spin" *ngIf="loading"></i>
<ng-container *ngIf="pendingVacants && pendingVacants.length>0">
    <div class="row">
        <div class="col-md-4" *ngFor="let vacant of pendingVacants">
            <div class="vacancy1 fadeInAnimated">
                <img src="assets/img/placeholder-img.jpg" (click)="verModal(vacant)">
                <p>{{vacant.jobPositionName}}<br> Reclutadores a cargo: {{vacant.recruitersNumber}}
                </p>
            </div>
            <div class="postulants1 bg-colorGR-orange-dark fadeInAnimated">
                <div class="row">
                    <div class="col-6">
                        <p>{{vacant.startDate | date:'shortDate'}}</p>
                    </div>
                    <div class="col-3">
                        <img src="assets/img/employee.svg">
                    </div>
                    <div class="col-3">
                        <P id="number">{{vacant.placesNumber}}</P>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>
<div class="NoData fadeInAnimated" *ngIf="pendingVacants && pendingVacants.length==0 && loading==false">
    <p>¡No hay vacantes pendientes!</p>
</div>