<div class="row vacan fadeInAnimated" *ngIf="InProcess>0">
    <div class="col-8"></div>
    <div class="col-3">
        <p>Vacantes en proceso</p>
    </div>
    <div class="col-1">
        <div class="circle bg-success-card"></div>
    </div>
</div>

<div class="row fadeInAnimated" *ngIf="InProcess>0">
    <div class="col-md-3" *ngFor="let vacant of vacantsInProcess">
        <div class="vacancy1">
            <img src="assets/img/placeholder-img.jpg" (click)="verModal()">
            <p>{{vacant.nameJob}}<br> Salario:{{vacant.salaryMin}}-{{vacant.salaryMax}}
            </p>
        </div>
        <div class="postulants1 bg-success-card" *ngIf="vacant.state==1">
            <div class="row">
                <div class="col-6">
                    <p class="startDate">{{vacant.startDate.substring(0,10)}} </p>
                </div>
                <div class="col-3">
                    <img src="assets/img/employee.svg">
                </div>
                <div class="col-3">
                    <p id="number">{{vacant.placesNumber}}</p>
                </div>
            </div>
        </div>
        <br>
    </div>


</div>

<div class="row fadeInAnimated" *ngIf="Wait>0">
    <div class="col-8"></div>
    <div class="col-3">
        <p>Vacantes en espera</p>
    </div>
    <div class="col-1">
        <div class="circle bg-process-card"></div>
    </div>
</div>
<div class="row fadeInAnimated" *ngIf="Wait>0">

    <div class="col-md-3" *ngFor="let vacant of vacantsWait">
        <div class="vacancy1">
            <img src="assets/img/placeholder-img.jpg" (click)="verModal()">
            <p>{{vacant.nameJob}}<br> Salario:{{vacant.salaryMin}}-{{vacant.salaryMax}}
            </p>
        </div>
        <div class="postulants1 bg-process-card" *ngIf="vacant.state==0">
            <div class="row">
                <div class="col-6">
                    <p class="startDate">{{vacant.startDate.substring(0,10)}} </p>
                </div>
                <div class="col-3">
                    <img src="assets/img/employee.svg">
                </div>
                <div class="col-3">
                    <P id="number">{{vacant.placesNumber}}</P>
                </div>
            </div>
        </div>
        <br>
    </div>

</div>

<div class="row fadeInAnimated" *ngIf="Fail>0">
    <div class="col-8"></div>
    <div class="col-3">
        <p>Vacantes en finalizadas</p>
    </div>
    <div class="col-1">
        <div class="circle bg-fail-card"></div>
    </div>
</div>
<div class="row fadeInAnimated" *ngIf="Fail>0">
    <div class="col-md-3" *ngFor="let vacant of vacantsFail">
        <div class="vacancy1">
            <img src="assets/img/placeholder-img.jpg" (click)="verModal()">
            <p>{{vacant.nameJob}}<br> Salario:{{vacant.salaryMin}}-{{vacant.salaryMax}}
            </p>
        </div>
        <div class="postulants1 bg-fail-card" *ngIf="vacant.state==2">
            <div class="row">
                <div class="col-6">
                    <p class="startDate">{{vacant.startDate.substring(0,10)}} </p>
                </div>
                <div class="col-3">
                    <img src="assets/img/employee.svg">
                </div>
                <div class="col-3">
                    <P id="number">{{vacant.placesNumber}}</P>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="NoData fadeInAnimated" *ngIf="!vacants || vacants.length==0">
    <p>¡No ha aplicado a vacantes!</p>
</div>