<div class="row vacan fadeInAnimated">
    <div class="col-8"></div>
    <div class="col-3">
        <p>Vacantes en proceso</p>
    </div>
    <div class="col-1">
        <div class="circle bg-success-card"></div>
    </div>
</div>

<div class="row fadeInAnimated">
    <div class="col-md-3" *ngFor="let vacant of vacants">
        <div class="vacancy1" *ngIf="vacant.state==0">
            <img src="assets/img/placeholder-img.jpg" (click)="verModal()">
            <p>{{vacant.nameJob}}<br> Salario:{{salaryMin}}-{{salaryMax}}
            </p>
        </div>
        <div class="postulants1 bg-success-card">
            <div class="row">
                <div class="col-6">
                    <p>{{vacant.startDate.substring(0,10)}} </p>
                </div>
                <div class="col-3">
                    <img src="assets/img/employee.svg">
                </div>
                <div class="col-3">
                    <P id="number">{{vacant.placesNumber}}</P>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row fadeInAnimated">
    <div class="col-8"></div>
    <div class="col-3">
        <p>Vacantes en espera</p>
    </div>
    <div class="col-1">
        <div class="circle bg-process-card"></div>
    </div>
</div>
<div class="row fadeInAnimated">

    <div class="col-md-3" *ngFor="let vacant of vacants">
        <div class="vacancy1" *ngIf="vacant.state==0">
            <img src="assets/img/placeholder-img.jpg" (click)="verModal()">
            <p>{{vacant.nameJob}}<br> Salario:{{salaryMin}}-{{salaryMax}}
            </p>
        </div>
        <div class="postulants1 bg-process-card">
            <div class="row">
                <div class="col-6">
                    <p>{{vacant.startDate.substring(0,10)}} </p>
                </div>
                <div class="col-3">
                    <img src="assets/img/employee.svg">
                </div>
                <div class="col-3">
                    <P id="number">{{vacant.placesNumber}}</P>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row fadeInAnimated">
    <div class="col-8"></div>
    <div class="col-3">
        <p>Vacantes en finalizadas</p>
    </div>
    <div class="col-1">
        <div class="circle bg-fail-card"></div>
    </div>
</div>
<div class="row fadeInAnimated">
    <div class="col-md-3" *ngFor="let vacant of vacants">
        <div class="vacancy1" *ngIf="vacant.state==2">
            <img src="assets/img/placeholder-img.jpg" (click)="verModal()">
            <p>{{vacant.nameJob}}<br> Salario:{{salaryMin}}-{{salaryMax}}
            </p>
        </div>
        <div class="postulants1 bg-fail-card">
            <div class="row">
                <div class="col-6">
                    <p>{{vacant.startDate.substring(0,10)}} </p>
                </div>
                <div class="col-3">
                    <img src="assets/img/employee.svg">
                </div>
                <div class="col-3">
                    <P id="number">{{vacant.placesNumber}}</P>
                </div>
            </div>
        </div>
    </div>
</div>