<div class="row vacan fadeInAnimated">
    <div class="col-8"></div>
    <div class="col-3">
        <p>Vacantes en proceso</p>
    </div>
    <div class="col-1">
        <div class="circle bg-success-card"></div>
    </div>
</div>

<div class="row fadeInAnimated">
    <div class="col-md-3">
        <div class="vacancy1">
            <img src="assets/img/placeholder-img.jpg" (click)="verModal()">
            <p>Nombre del cargo<br> Salario:30.000-40.000
            </p>
        </div>
        <div class="postulants1 bg-success-card">
            <div class="row">
                <div class="col-6">
                    <p>01/06/2018</p>
                </div>
                <div class="col-3">
                    <img src="assets/img/employee.svg">
                </div>
                <div class="col-3">
                    <P id="number">6</P>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row fadeInAnimated">
    <div class="col-8"></div>
    <div class="col-3">
        <p>Vacantes en espera</p>
    </div>
    <div class="col-1">
        <div class="circle bg-process-card"></div>
    </div>
</div>
<div class="row fadeInAnimated">

    <div class="col-md-3">
        <div class="vacancy1">
            <img src="assets/img/placeholder-img.jpg" (click)="verModal()">
            <p>Nombre del cargo<br> Salario:30.000-40.000
            </p>
        </div>
        <div class="postulants1 bg-process-card">
            <div class="row">
                <div class="col-6">
                    <p>01/06/2018</p>
                </div>
                <div class="col-3">
                    <img src="assets/img/employee.svg">
                </div>
                <div class="col-3">
                    <P id="number">6</P>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row fadeInAnimated">
    <div class="col-8"></div>
    <div class="col-3">
        <p>Vacantes en finalizadas</p>
    </div>
    <div class="col-1">
        <div class="circle bg-fail-card"></div>
    </div>
</div>
<div class="row fadeInAnimated">
    <div class="col-md-3">
        <div class="vacancy1">
            <img src="assets/img/placeholder-img.jpg" (click)="verModal()">
            <p>Nombre del cargo<br> Salario:30.000-40.000
            </p>
        </div>
        <div class="postulants1 bg-fail-card">
            <div class="row">
                <div class="col-6">
                    <p>01/06/2018</p>
                </div>
                <div class="col-3">
                    <img src="assets/img/employee.svg">
                </div>
                <div class="col-3">
                    <P id="number">6</P>
                </div>
            </div>
        </div>
    </div>
</div>