<h3>Datos Generales</h3>
<mat-dialog-content class="mat-typography">
    <div class="row" *ngIf=!update>
        <div class="col-6">
            <img class="card-postulant" src="assets/img/noPhoto.jpg">
        </div>
        <div class="col-6">
            <p> <b>ID:</b><br>{{postulantProfile.id}}<br>
                <b>Nombre:</b><br>{{postulantProfile.name}}<br>
                <b>Correo:</b><br>{{postulantProfile.email}}<br>
                <b>Carreras:</b>
            </p>
            <p *ngIf="postulantProfile.careers.length==0">¡No hay carreras!</p>
            <ul>
                <li *ngFor="let dt of postulantProfile.careers"> {{dt.name}} </li>
            </ul>
        </div>
    </div>
    <form [formGroup]="form" novalidate="novalidate" *ngIf=update>
        <div class="row">
            <div class="col-4">
                <img class="card-postulant" src="assets/img/perfil.jpeg">

            </div>
            <div class="col-8">
                <div class="row">
                    <div class="col-12">
                        <b>ID:</b><br>
                        <input type="text" class="inputLogIn" placeholder="Nombre de la compañía" formControlName="id" [ngClass]=" {'is-invalid':  !form.get('id').valid && form.get('id').touched } "><br>

                    </div>
                    <div class="col-12">
                        <b>Nombre:</b><br>
                        <input type="text" class="inputLogIn" placeholder="Nombre de la compañía" formControlName="name" [ngClass]=" {'is-invalid':  !form.get('name').valid && form.get('name').touched } "><br>

                        <ng-container *ngIf="form.get('name').touched">
                            <label style="margin-left: 40px" *ngIf="!form.get('name').valid" class="invalid">Ingrese
                                nombre, sin espacio inicial.</label>
                        </ng-container>
                    </div>
                    <div class="col-12">
                        <b>Correo:</b><br>
                        <input type="email" class="inputLogIn" placeholder="Correo electrónico" formControlName="email" [ngClass]=" {'is-invalid':  !form.get('email').valid && form.get('email').touched } "><br>

                        <ng-container *ngIf="form.get('email').touched">
                            <label style="margin-left: 40px" *ngIf="form.get('email').errors?.pattern;else validEmail" class="invalid">Formato de correo incorrecto.</label>
                            <ng-template #validEmail>
                                <label style="margin-left: 40px" *ngIf="!form.get('email').valid" class="invalid">Ingrese
                                    email, sin espacio inicial.</label>
                            </ng-template>
                        </ng-container>

                    </div>

                    <div class="col-12">
                        <b>Carreras:</b><br>
                        <mat-form-field class="recruiters">
                            <mat-label>Carreras existentes</mat-label>
                            <mat-select formControlName="careers" multiple (selectionChange)="selectChange($event.value,1)" #multiSelectCareer>
                                <mat-option>
                                    <ngx-mat-select-search [formControl]="searchCareer" [placeholderLabel]="'Buscar carrera'" [noEntriesFoundLabel]="'No se encontró.'" [clearSearchInput]='false'>
                                        <mat-icon ngxMatSelectSearchClear>X</mat-icon>
                                    </ngx-mat-select-search>
                                </mat-option>

                                <button class="buttonModalAccept form-control" mat-button (click)="addOption_2(1)" cdkFocusInitial *ngIf="emptySearchCareer && (searchCareer.value.trim().length!=0) ">Crear </button>

                                <mat-option *ngFor="let career of filteredCareerCtrl | async" [value]="career">{{career.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <!--Mostrar las que va seleccionando-->
                        <mat-chip-list class="mat-chip-list-stacked" aria-label="Color selection">
                            <mat-chip class="selectChip" *ngFor="let careerSelec of careersSelected">
                                {{careerSelec.name}}
                            </mat-chip>
                        </mat-chip-list><br>
                    </div>

                </div>
            </div>
        </div>
    </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button class="buttonModalAccept" mat-button [mat-dialog-close]="true" cdkFocusInitial>Salir</button>
    <button class="buttonModalAccept" mat-button *ngIf=!update (click)="updateProfile(0)">Modificar</button>
    <button class="buttonModalAccept" mat-button *ngIf=update (click)="updateProfile(1)">Actualizar</button>
</mat-dialog-actions>