<h3> {{nameEmpresa.name}} </h3><br>
<mat-dialog-content class="mat-typography">

    <form [formGroup]="form" novalidate="novalidate">
        <div class="row fadeInAnimated">
            <div class="col">
                <mat-form-field class="areas">
                    <mat-label>Área de la empresa</mat-label>
                    <mat-select formControlName="area">
                        <mat-option *ngFor="let area of areas" [value]="area.id">
                            {{area.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <input type="text" class="inputLogIn" placeholder="Ingrese el cargo" formControlName="name" [ngClass]=" {'is-invalid':  !form.get('name').valid && form.get('name').touched } "><br>
                <div *ngIf="form.get('name').errors?.required && form.get('name').touched ">
                    <label class="invalid">Ingrese nombre válido</label>
                </div>
            </div>
            <div class="col">
                <label>Rango de salario:</label><br>
                <input type="number" class="inputLogIn salary1" placeholder="" formControlName="range1" required PositiveNumber [ngClass]=" {'is-invalid':  !form.get('range1').valid && form.get('range1').touched } "> -
                <input type="number" class="inputLogIn salary2" placeholder="" formControlName="range2" required PositiveNumber [ngClass]=" {'is-invalid':  !form.get('range2').valid && form.get('range2').touched } ">
                <div *ngIf="(form.get('range1').badError && form.get('range1').touched && form.get('range1').errors?.is) || ( form.get('range2').errors?.required && form.get('range2').touched  ) ">
                    <label class="invalid">Ingrese rango válido</label>
                </div>
                <div *ngIf="(form.get('range1').errors?.required && form.get('range1').errors?.nonPositive && form.get('range1').touched && form.get('range1').errors?.is) || ( form.get('range2').errors?.required && form.get('range2').touched  ) ">
                    <label class="invalid">Ingrese rango válido holi</label>
                </div>
                <textarea class="inputLogIn" placeholder="Descripción del Cargo" formControlName="desc" [ngClass]=" {'is-invalid':  !form.get('desc').valid && form.get('desc').touched } "></textarea><br>
                <div *ngIf="form.get('desc').errors?.required && form.get('desc').touched ">
                    <label class="invalid">Ingrese descripción del cargo</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label>Carreras:</label>
                <mat-form-field class="recruiters">
                    <mat-label>Carreras existentes</mat-label>
                    <mat-select formControlName="carrer" multiple (selectionChange)="selectCarrer($event.value)">
                        <mat-option *ngFor="let carrer of carrers" [value]="carrer">{{carrer.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <!--Mostrar las que va seleccionando-->
                <mat-chip-list class="mat-chip-list-stacked" aria-label="Color selection">
                    <mat-chip class="selectChip" *ngFor="let carrerSelec of carrersSelected">
                        {{carrerSelec.name}}
                    </mat-chip>
                </mat-chip-list><br>
                <div class="row">
                    <ng-container *ngFor="let cr of form.controls['newCarrer'].controls;let i=index;">
                        <div class="col-8" [formGroup]="cr">
                            <input type="" class="form-control input1" placeholder="Nueva carrera" formControlName="name" [ngClass]=" {'is-invalid':  !cr.get('name').valid && cr.get('name').touched }">
                        </div>

                        <div class="col-2" *ngIf="(i+1)== form.controls['newCarrer'].controls.length">
                            <i (click)="addCar()" class="fas fa-plus-circle"></i>
                        </div>
                        <div class="col-2" *ngIf="i!=0">
                            <i (click)="removeCar(i)" class="fas fa-times-circle"></i>
                        </div>
                        <br>
                    </ng-container>

                </div>
                <label>Procesos:</label>
                <div class="row">
                    <ng-container *ngFor="let cr of form.controls['newProcess'].controls;let i=index;">
                        <div class="col-8" [formGroup]="cr">
                            <input type="" class="form-control input1" placeholder="Nuevo proceso" formControlName="name" [ngClass]=" {'is-invalid':  !cr.get('name').valid && cr.get('name').touched }">
                        </div>

                        <div class="col-2" *ngIf="(i+1)== form.controls['newProcess'].controls.length">
                            <i (click)="addProcess()" class="fas fa-plus-circle"></i>
                        </div>
                        <div class="col-2" *ngIf="i!=0">
                            <i (click)="removeProcess(i)" class="fas fa-times-circle"></i>
                        </div>
                        <br>
                    </ng-container>

                </div>

            </div>
            <div class="col">
                <label>Habilidades fuertes:</label>
                <mat-form-field class="recruiters">
                    <mat-label>Habilidades existentes</mat-label>
                    <mat-select formControlName="hardSkill" multiple (selectionChange)="selectSkill($event.value)">
                        <mat-option *ngFor="let hard of skillsHard" [value]="hard">{{hard.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <!--Mostrar las que va seleccionando-->
                <mat-chip-list class="mat-chip-list-stacked" aria-label="Color selection">
                    <mat-chip class="selectChip" *ngFor="let skill of skillsHardSelected">
                        {{skill.name}}
                    </mat-chip>
                </mat-chip-list><br>
                <div class="row">
                    <ng-container *ngFor="let cr of form.controls['newHardSkill'].controls;let i=index;">
                        <div class="col-8" [formGroup]="cr">
                            <input type="" class="form-control input1" placeholder="Nueva habilidad" formControlName="name" [ngClass]=" {'is-invalid':  !cr.get('name').valid && cr.get('name').touched }">
                        </div>

                        <div class="col-2" *ngIf="(i+1)== form.controls['newHardSkill'].controls.length">
                            <i (click)="addSkill()" class="fas fa-plus-circle"></i>
                        </div>
                        <div class="col-2" *ngIf="i!=0">
                            <i (click)="removeSkill(i)" class="fas fa-times-circle"></i>
                        </div>
                        <br>
                    </ng-container>

                </div>
            </div>
        </div>
        <br>
        <h2>Nueva vacante para el cargo</h2>
        <div class="row">
            <div class="col">
                <mat-form-field class="recruiters">
                    <mat-label>Reclutadores</mat-label>
                    <mat-select [formControl]="states" multiple>
                        <mat-option *ngFor="let state of statesList" [value]="state">{{state}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <!--Mostrar las que va seleccionando-->
                <mat-chip-list class="mat-chip-list-stacked" aria-label="Color selection">
                    <mat-chip class="selectChip" *ngFor="let chip of availableColors">
                        {{chip.name}}
                    </mat-chip>
                </mat-chip-list><br>
            </div>
            <div class="col">
                <input type="number" class="inputLogIn" placeholder="Puestos disponibles" formControlName="name" required PositiveNumber [ngClass]=" {'is-invalid':  !form.get('name').valid && form.get('name').touched } "><br>
                <div *ngIf="form.get('name').errors?.required && form.get('name').touched Positive">
                    <label class="invalid">Ingrese número válido</label>
                </div>
            </div>
        </div>


    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button class="buttonModalCancel" mat-button mat-dialog-close>Cancelar</button>
    <button class="buttonModalAccept" mat-button (click)="save()" cdkFocusInitial>Crear cargo</button>
</mat-dialog-actions>