.inputLogIn {
    margin-left: 30px;
}

label {
    font-family: 'Manjari', sans-serif;
    margin-left: 30px;
}

.input1{
    margin-bottom: 8px; 
    background-color: rgba(255, 133, 51, 0.137);
    border: none;
    border-radius: 10px;
    margin-left: 30px;
    align-content: center;
    padding-left: 15px;
}

.fa-plus-square{
    color:#007bff;
    font-size:2.5em; 
}
.fa-times-circle{
    color:rgb(245, 22, 22);
    font-size:2.5em;
}

.but1{
    background-color: rgba(255, 255, 255, 0);
}