<h3> {{nameEmpresa.name}} </h3><br>
<mat-dialog-content class="mat-typography">

    <form [formGroup]="form" novalidate="novalidate">
        <div class="row fadeInAnimated">
            <div class="col">
                <mat-form-field class="areas">
                    <mat-label>Área de la empresa</mat-label>
                    <mat-select formControlName="idArea">
                        <mat-option *ngFor="let area of areas" [value]="area.id">
                            {{area.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <input type="text" class="inputLogIn" placeholder="Ingrese el cargo" formControlName="name" [ngClass]=" {'is-invalid':  !form.get('name').valid && form.get('name').touched } "><br>
                <div *ngIf="form.get('name').errors?.required && form.get('name').touched ">
                    <label class="invalid">Ingrese nombre válido</label>
                </div>
            </div>
            <div class="col">
                <label>Rango de salario:</label><br>
                <input type="number" class="inputLogIn salary1" placeholder="" formControlName="salaryMin" required PositiveNumber [ngClass]=" {'is-invalid':  !form.get('salaryMin').valid && form.get('salaryMin').touched } "> -
                <input type="number" class="inputLogIn salary2" placeholder="" formControlName="salaryMax" required PositiveNumber [ngClass]=" {'is-invalid':  !form.get('salaryMax').valid && form.get('salaryMax').touched } ">
                <div *ngIf="(form.get('salaryMin').badError && form.get('salaryMin').touched && form.get('salaryMin').errors?.is) || ( form.get('salaryMax').errors?.required && form.get('salaryMax').touched  ) ">
                    <label class="invalid">Ingrese rango válido</label>
                </div>
                <div *ngIf="(form.get('salaryMin').errors?.nonPositive || form.get('salaryMax').errors?.nonPositive) ">
                    <label class="invalid">Ingrese valores positivos</label>
                </div>
                <textarea class="inputLogIn" placeholder="Descripción del Cargo" formControlName="description" [ngClass]=" {'is-invalid':  !form.get('description').valid && form.get('description').touched } "></textarea><br>
                <div *ngIf="form.get('description').errors?.required && form.get('description').touched ">
                    <label class="invalid">Ingrese descripción del cargo</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label>Carreras:</label>
                <mat-form-field class="recruiters">
                    <mat-label>Carreras existentes</mat-label>
                    <mat-select formControlName="career" multiple (selectionChange)="selectChange($event.value,1)">
                        <mat-option *ngFor="let career of careers" [value]="career">{{career.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <!--Mostrar las que va seleccionando-->
                <mat-chip-list class="mat-chip-list-stacked" aria-label="Color selection">
                    <mat-chip class="selectChip" *ngFor="let careerSelec of careersSelected">
                        {{careerSelec.name}}
                    </mat-chip>
                </mat-chip-list><br>
                <div class="row">
                    <ng-container *ngFor="let cr of form.controls['newCareer'].controls;let i=index;">
                        <div class="col-8" [formGroup]="cr">
                            <input type="" class="form-control input1" placeholder="Nueva carrera" formControlName="name" [ngClass]=" {'is-invalid':  !cr.get('name').valid && cr.get('name').touched }">
                        </div>

                        <div class="col-2" *ngIf="(i+1)== form.controls['newCareer'].controls.length">
                            <i (click)="addOption(1)" class="fas fa-plus-circle"></i>
                        </div>
                        <div class="col-2" *ngIf="i!=0">
                            <i (click)="removeOption(1,i)" class="fas fa-times-circle"></i>
                        </div>
                        <br>
                    </ng-container>

                </div>
                <label>Procesos:</label>
                <div class="row">
                    <ng-container *ngFor="let cr of form.controls['process'].controls;let i=index;">
                        <div class="col-8" [formGroup]="cr">
                            <input type="" class="form-control input1" placeholder="Nuevo proceso" formControlName="name" [ngClass]=" {'is-invalid':  !cr.get('name').valid && cr.get('name').touched }">
                        </div>

                        <div class="col-2" *ngIf="(i+1)== form.controls['process'].controls.length">
                            <i (click)="addOption(4)" class="fas fa-plus-circle"></i>
                        </div>
                        <div class="col-2" *ngIf="i!=0">
                            <i (click)="removeOption(4,i)" class="fas fa-times-circle"></i>
                        </div>
                        <br>
                    </ng-container>

                </div>

            </div>
            <div class="col">
                <label>Habilidades fuertes:</label>
                <mat-form-field class="recruiters">
                    <mat-label>Habilidades existentes</mat-label>
                    <mat-select formControlName="hardSkill" multiple (selectionChange)="selectChange($event.value,2)">
                        <mat-option *ngFor="let hard of skillsHard" [value]="hard">{{hard.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <!--Mostrar las que va seleccionando-->
                <mat-chip-list class="mat-chip-list-stacked" aria-label="Color selection">
                    <mat-chip class="selectChip" *ngFor="let skill of skillsHardSelected">
                        {{skill.name}}
                    </mat-chip>
                </mat-chip-list><br>
                <div class="row">
                    <ng-container *ngFor="let cr of form.controls['newHardSkill'].controls;let i=index;">
                        <div class="col-8" [formGroup]="cr">
                            <input type="" class="form-control input1" placeholder="Nueva habilidad" formControlName="name" [ngClass]=" {'is-invalid':  !cr.get('name').valid && cr.get('name').touched }">
                        </div>

                        <div class="col-2" *ngIf="(i+1)== form.controls['newHardSkill'].controls.length">
                            <i (click)="addOption(2)" class="fas fa-plus-circle"></i>
                        </div>
                        <div class="col-2" *ngIf="i!=0">
                            <i (click)="removeOption(2,i)" class="fas fa-times-circle"></i>
                        </div>
                        <br>
                    </ng-container>

                </div>
            </div>
        </div>
        <br>
        <h2>Nueva vacante para el cargo</h2>
        <div class="row">
            <div class="col">
                <mat-form-field class="recruiters">
                    <mat-label>Reclutadores</mat-label>
                    <mat-select formControlName="recruiter" multiple (selectionChange)="selectChange($event.value,3)">
                        <mat-option *ngFor="let re of recruiters" [value]="re">{{re.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <!--Mostrar las que va seleccionando-->
                <mat-chip-list class="mat-chip-list-stacked" aria-label="Color selection">
                    <mat-chip class="selectChip" *ngFor="let selRecruiter of recruitersSelected">
                        {{selRecruiter.name}}
                    </mat-chip>
                </mat-chip-list><br>
            </div>
            <div class="col">
                <input type="number" class="inputLogIn" placeholder="Puestos disponibles" PositiveNumber formControlName="placeNumber"><br>
                <div *ngIf="(form.get('placeNumber').errors?.nonPositive)">
                    <label class="invalid">Ingrese valores positivos</label>
                </div>
            </div>
        </div>

    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button class="buttonModalCancel" mat-button mat-dialog-close>Cancelar</button>
    <button class="buttonModalAccept" mat-button (click)="save()" cdkFocusInitial>Crear cargo</button>
</mat-dialog-actions>