<p>app-postulant works!</p>
<button mat-button (click)="verModal()">Open dialog</button>
<h1>Tarjetas de cargos gerente</h1>
<div class="row">
    <div class="col-sm-4">
        <div class="card-job colorLog1 ">
            <img src="assets/img/edit.svg" (click)="verModal()">
            <p>Nombre del cargo</p>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card-job">
            <img class="plus" src="assets/img/add (1).svg" (click)="verModal()">
        </div>
    </div>
</div>

<h1>card-postulant</h1>
<div class="row">
    <div class="col-sm-3">
        <img class="card-postulant green-card" src="assets/img/perfil.jpeg" (click)="verModal()">
    </div>
    <div class="col-sm-3">
        <img class="card-postulant red-card" src="assets/img/perfil2.jpg" (click)="verModal()">
    </div>
    <div class="col-sm-3">
        <img class="card-postulant yellow-card" src="assets/img/noPhoto.jpg" (click)="verModal()">
    </div>
</div>

<h1>card-recruiter</h1>

<div class="row">
    <div class="col-sm-4">
        <div class="card-recruiter colorLog2" (click)="verModal()">
            <img src="assets/img/perfil.jpeg">
            <p>Nombre reclutador</p>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card-recruiter colorLog2">
            <img class="plus" src="assets/img/add (2).svg" (click)="verModal()">
        </div>
    </div>
</div>
<div class="card-recruiter-plus colorLog1 ">

</div>

<div class="card-postulant-plus colorLog1 ">

</div>
<h1>skill-global</h1>
<div class="skill-global colorLog1 ">

</div>
<h1>skill</h1>
<div class="skill colorLog1 ">

</div>
<h1>vacancy</h1>
<div class="vacancy colorLog1 ">

</div>
<h1>vacancy-process</h1>
<div class="vacancy-process colorLog1 ">

</div>