<h1>Nombre del cargo</h1><br>
<div class="row">
    <div class="col">
        <h2>Datos Generales</h2>
        <p><b>Salario:</b> Rango del salario<br>
            <b>Descripción:</b> Descripción del puesto<br>
            <b>Nro. de vacantes:</b> 6<br>
            <b>Fecha de creación:</b> 08/10/2017<br>
        </p>

        <div class="row">
            <div class="col">
                <p> <b>Carreras:</b></p>
                <ul>
                    <li>Carrera1</li>
                    <li>Carrera2</li>
                    <li>Carrera3</li>
                </ul>
            </div>
            <div class="col">
                <p><b>Procesos:</b> </p>
                <ul>
                    <li>proceso1</li>
                    <li>proceso2</li>
                    <li>proceso3</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p> <b>Habilidades fuertes:</b></p>
                <ul>
                    <li>Habilidad1</li>
                    <li>Habilidad2</li>
                    <li>Habilidad3</li>
                </ul>

            </div>
            <div class="col">
                <p><b>Habilidades blandas:</b> </p>
                <ul>
                    <li>Habilidad1</li>
                    <li>Habilidad2</li>
                    <li>Habilidad3</li>
                </ul>
            </div>
        </div>
    </div>


    <div class="col">
        <h2>Postulantes para el cargo</h2>
        <p>¡No hay postulantes para este cargo!</p>
        <div class="row">
            <div class="col">
                <img class="card-postulant bg-green-card" src="assets/img/perfil.jpeg" (click)="verModal()">
            </div>
            <div class="col">
                <img class="card-postulant bg-red-card" src="assets/img/perfil2.jpg" (click)="verModal()">
            </div>
            <div class="col">
                <img class="card-postulant bg-yellow-card" src="assets/img/noPhoto.jpg" (click)="verModal()">
            </div>
        </div>
    </div>
</div>

<div class="spacePlus fadeInAnimated">
    <div class="row">
        <div class="col-9">
            <p>Elegir nuevo postulante</p>
        </div>
        <div class="col-3">
            <button (click)="verPostulants()" class="button-plus bg-colorGR-orange-dark"> <img class="plus" src="assets/img/add (1).svg" ></button>
        </div>
    </div>
</div>