<div class="row fadeInAnimated">
    <div class="col-4">
        <i class="fas fa-arrow-left fa-3x colorGr-Blue_-medium" routerLink='/recruiter/inProcess'></i>
    </div>
    <div class="col-4">
        <h1> {{charge.name}} </h1><br>
    </div>
    <div class="col-4"></div>
</div>
<div class="row fadeInAnimated">
    <div class="col">
        <h2>Datos Generales</h2>
        <p><b>Area:</b> {{charge.nameArea}}<br>
            <b>Salario:</b> {{charge.salaryMin}}-{{charge.salaryMax}}<br>
            <b>Descripción:</b> {{charge.description}}<br>
            <b>Nro. de vacantes:</b> {{charge.vacant.placesNumber}}<br>
            <b>Fecha de creación:</b> 08/10/2017<br>
        </p>

        <div class="row">
            <div class="col">
                <p> <b>Carreras:</b></p>
                <ul *ngFor="let career of charge.careers">
                    <li>{{career}}</li>
                </ul>
            </div>
            <div class="col">
                <p><b>Procesos:</b> </p>
                <ul *ngFor="let process of charge.processes">
                    <li>{{process}}</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p> <b>Habilidades fuertes:</b></p>
                <ul *ngFor="let hardS of charge.hardSkills">
                    <li>{{hardS}}</li>
                </ul>

            </div>
            <div class="col">
                <p><b>Habilidades blandas:</b> </p>
                <ul *ngFor="let softS of charge.softSkill">
                    <li>{{softS}}</li>
                </ul>
            </div>
        </div>
    </div>


    <div class="col">
        <h2>Postulantes para el cargo</h2>
        <p *ngIf="charge.postulants.length==0">¡No hay postulantes para este cargo!</p>
        <div class="row" *ngIf="charge.postulants.length!=0">
            <div class="col" *ngFor="let postulant of charge.postulants">
                <img class="card-postulant bg-green-card" src="assets/img/noPhoto.jpg" (click)="verModal(postulant)">
            </div>
        </div>
    </div>
</div>

<div class="spacePlus fadeInAnimated">
    <div class="row">
        <div class="col-9">
            <p>Elegir nuevo postulante</p>
        </div>
        <div class="col-3">
            <button (click)="verPostulants()" class="button-plus bg-colorGR-orange-dark"> <img class="plus" src="assets/img/add (1).svg" ></button>
        </div>
    </div>
</div>