<h2>Nombre de la empresa</h2>
<mat-dialog-content class="mat-typography">
    <p><b>Cargo:</b> Nombre del cargo<br> <b>Salario:</b> Rango del salario<br> <b>Descripción: </b>Descripción breve del cargo<br></p>
    <div class="row">
        <div class="col">
            <p> <b>Habilidades fuertes:</b></p>
            <ul>
                <li>Habilidad1</li>
                <li>Habilidad2</li>
                <li>Habilidad3</li>
            </ul>
        </div>
        <div class="col">
            <p><b>Habilidades blandas:</b> </p>
            <ul>
                <li>Habilidad1</li>
                <li>Habilidad2</li>
                <li>Habilidad3</li>
            </ul>
        </div>
    </div>
    <p><b>Número de vacantes:</b> 6
    </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button class="buttonModalCancel" mat-button mat-dialog-close>Cancelar</button>
    <button class="buttonModalAccept" mat-button [mat-dialog-close]="true" cdkFocusInitial>Aplicar</button>
</mat-dialog-actions>