<h2>Nombre de la empresa</h2>
<mat-dialog-content class="mat-typography">

    <div class="row">
        <div class="col">
            <p><b>Cargo:</b> {{data.Job.name}} <br> <b>Salario:</b> {{data.vacant.salaryMin | currency:'COP':true }}-{{data.vacant.salaryMax | currency:'COP':true }} <br> <b>Descripción:</b><br> {{data.Job.description}}<br></p>
            <p><b>Número de vacantes:</b> {{data.vacant.placesNumber}}
            </p>
            <p> <b>Carreras:</b></p>
            <ul>
                <li *ngFor="let ob of data.Job.careers"> {{ob.name}} </li>
            </ul>
        </div>
        <div class="col">
            <p> <b>Habilidades fuertes:</b></p>
            <ul>
                <li *ngFor="let ob of data.Job.hardSkills"> {{ob.name}} </li>

            </ul>
            <p><b>Habilidades blandas:</b> </p>
            <ul>
                <li *ngFor="let ob of data.Job.softSkills"> {{ob.name}} </li>

            </ul>
        </div>
    </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button class="buttonModalCancel" mat-button mat-dialog-close>Cancelar</button>
    <button class="buttonModalAccept" mat-button [mat-dialog-close]="true" (click)="aplicarVacante()" cdkFocusInitial>Postularse</button>
</mat-dialog-actions>