<h3>Nuevo reclutador</h3>
<mat-dialog-content class="mat-typography fadeInAnimated">
    <form [formGroup]="form">
        <p>Se enviará un correo con la contraseña al nuevo reclutador para que ingrese al sistema</p>
        <input type="number" class="inputLogIn" placeholder="Ingrese cédula" formControlName="id" [ngClass]=" {'is-invalid':  !form.get('id').valid && form.get('id').touched }"><br>
        <div *ngIf="(form.get('id').errors?.pattern  || form.get('id').errors?.required )&& form.get('id').touched">
            <label class="invalid">Por favor, número positivo</label>
        </div>
        <input type="text" class="inputLogIn" placeholder="Ingrese el correo" formControlName="email" [ngClass]=" {'is-invalid':  !form.get('email').valid && form.get('email').touched && form.get('email').errors?.required }"><br>
        <div *ngIf="(form.get('email').errors?.pattern || form.get('email').errors?.required ) && form.get('email').touched ">
            <label class="invalid">Por favor, ingrese un correo válido</label>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button class="buttonModalCancel" mat-button mat-dialog-close>Cancelar</button>
    <button class="buttonModalAccept" mat-button (click)="send()" cdkFocusInitial>Crear cuenta</button>
</mat-dialog-actions>