<div class="row">
    <div class="col-md-4" *ngFor="let vacant of vacants">
        <div class="vacancy1 fadeInAnimated">
            <img src="assets/img/placeholder-img.jpg" (click)="verModal(vacant.id)">
            <p>{{vacant.nameJob}}<br> Salario: {{vacant.min_salary}}-{{vacant.max_salary}}
            </p>
        </div>
        <div class="postulants1 bg-colorGR-blue-dark fadeInAnimated">
            <div class="row">
                <div class="col-6">
                    <p>{{vacant.start_date}}</p>
                </div>
                <div class="col-3">
                    <img src="assets/img/employee.svg">
                </div>
                <div class="col-3">
                    <P id="number">{{vacant.places_number}}</P>
                </div>
            </div>
        </div>
    </div>
</div>