<div class="row">
    <div class="col-md-4">
        <div class="vacancy1">
            <img src="assets/img/placeholder-img.jpg" (click)="verModal()">
            <p>Nombre del cargo Nombre del cargo</p>

        </div>
        <div class="postulants1 bg-colorGR-blue-medium">
            <div class="row">
                <div class="col-6">
                    <p>01/06/2018</p>
                </div>
                <div class="col-3">
                    <img src="assets/img/employee.svg">
                </div>
                <div class="col-3">
                    <P id="number">6</P>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="vacancy1">
            <img src="assets/img/placeholder-img.jpg" (click)="verModal()">
            <p>Nombre del cargo Nombre del cargo</p>

        </div>
        <div class="postulants1 bg-colorGR-blue-medium">
            <div class="row">
                <div class="col-6">
                    <p>01/06/2018</p>
                </div>
                <div class="col-3">
                    <img src="assets/img/employee.svg">
                </div>
                <div class="col-3">
                    <P id="number">6</P>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="vacancy1">
            <img src="assets/img/placeholder-img.jpg" (click)="verModal()">
            <p>Nombre del cargo Nombre del cargo</p>

        </div>
        <div class="postulants1 bg-colorGR-blue-medium">
            <div class="row">
                <div class="col-6">
                    <p>01/06/2018</p>
                </div>
                <div class="col-3">
                    <img src="assets/img/employee.svg">
                </div>
                <div class="col-3">
                    <P id="number">6</P>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="vacancy1">
            <img src="assets/img/placeholder-img.jpg" (click)="verModal()">
            <p>Nombre del cargo Nombre del cargo</p>

        </div>
        <div class="postulants1 bg-colorGR-blue-medium">
            <div class="row">
                <div class="col-6">
                    <p>01/06/2018</p>
                </div>
                <div class="col-3">
                    <img src="assets/img/employee.svg">
                </div>
                <div class="col-3">
                    <P id="number">6</P>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="vacancy1">
            <img src="assets/img/placeholder-img.jpg" (click)="verModal()">
            <p>Nombre del cargo Nombre del cargo</p>

        </div>
        <div class="postulants1 bg-colorGR-blue-medium">
            <div class="row">
                <div class="col-6">
                    <p>01/06/2018</p>
                </div>
                <div class="col-3">
                    <img src="assets/img/employee.svg">
                </div>
                <div class="col-3">
                    <P id="number">6</P>
                </div>
            </div>
        </div>
    </div>
</div>