<div class="row">
    <div class="col-sm-4" *ngFor="let job of jobs;let i=index">
        <div class="card-job fadeInAnimated">
            <img src="assets/img/edit.svg" [routerLink]="['/manager/job',job.idJobPosition]">
            <h6> <b>{{job.name}}</b> </h6>
            <p>{{job.salaryMin}}-{{job.salaryMax}} <br> Vacantes activas: {{job.placesNumber}} <br></p>
        </div>
    </div>
</div>

<div class="spacePlus fadeInAnimated">
    <div class="row">
        <div class="col-9">
            <p>Agregar nuevo cargo</p>
        </div>
        <div class="col-3">
            <button (click)="verModal()" class="button-plus bg-colorGR-orange-dark"> <img class="plus" src="assets/img/add (1).svg" ></button>
        </div>
    </div>
</div>