<i class="fas fa-spinner fa-9x fa-spin" *ngIf="loading"></i>
<div class="row">
    <div class="col-sm-4" *ngFor="let job of jobs;let i=index">
        <div class="card-job fadeInAnimated">
            <img src="assets/img/edit.svg" [routerLink]="['/manager/job',job.idJobPosition]">
            <h6> <b>{{job.name}}</b> </h6>
            <p>{{job.salaryMin | currency:'COP':true }}-{{job.salaryMax | currency:'COP':true }} <br> Vacantes activas: {{job.vacants.length}} <br></p>
        </div>
    </div>
</div>
<div class="NoData fadeInAnimated" *ngIf="(jobs==null || jobs.length==0) && loading==false">
    <p>¡No hay cargos registrados!</p>
</div>

<div class="spacePlus fadeInAnimated">
    <div class="row">
        <div class="col-9">
            <p>Agregar nuevo cargo</p>
        </div>
        <div class="col-3">
            <button (click)="verModal()" class="button-plus bg-colorGR-orange-dark"> <img class="plus" src="assets/img/add (1).svg" ></button>
        </div>
    </div>
</div>