/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* ---------------------LOGIN------------------------------- */

body {
    font-family: 'Manjari', sans-serif;
}

#Logo {
    width: 70%;
    margin-left: 35px;
    margin-top: 40px;
}

#backLogIn {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    position: fixed;
    z-index: -1;
}

@keyframes moveLeft {
    from {
        left: 19.5%;
    }
    to {
        left: 81%;
    }
}

@keyframes moveRight {
    from {
        left: 81%;
    }
    to {
        left: 19.5%;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.Register {
    position: absolute;
    z-index: 4;
    top: 50%;
    left: 81%;
    transform: translate(-50%, -50%);
    width: 230px;
    height: 350px;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #666;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.LogInForm {
    position: absolute;
    z-index: 3;
    left: 42%;
}

.LogInForm h1 {
    margin-top: 30px;
    margin-left: 5px;
    animation-duration: 1s;
    animation-name: fadeIn;
}

.RegisterForm {
    position: absolute;
    z-index: 3;
    width: 70%;
    animation-duration: 1s;
    animation-name: fadeIn;
}

.movLeft {
    animation-name: moveLeft;
}

.movRight {
    animation-name: moveRight;
}

#ModalLogIn {
    background-color: rgba(244, 248, 248, 0.63);
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 590px;
    height: 350px;
    box-shadow: 2px 2px 10px #666;
    border: none;
    border-radius: 5px;
}

#FB {
    width: 50px;
    margin-left: 190px;
    margin-bottom: 25px;
}

#GG {
    width: 50px;
    margin-left: 20px;
    margin-bottom: 25px;
}


/* ---------------------COLORS------------------------------- */


/*LogIn*/

.bg-colorGR-blue-light {
    background-color: #00CDC4;
}

.bg-colorGR-blue-medium {
    background-color: #018893;
}

.bg-colorGR-blue-dark {
    background-color: #002A38;
}

.bg-colorGR-orange-dark {
    background-color: #FF8333;
}

.bg-colorGR-orange-light {
    background-color: #FDA93D;
}

.bg-colorGR-red-light {
    background-color: #FC341C;
}

.bg-colorGR-red-dark {
    background-color: #8B041A;
}


/*Postulant*/

.bg-colorPos-white {
    background-color: #f3f0f0;
}

.bg-colorPos-blue {
    background-color: #3AB6A6
}

.bg-colorPos-red {
    background-color: #B5454D
}

.bg-colorPos-orange {
    background-color: #BB7354
}

.bg-colorPos-black {
    background-color: #25272B
}


/*cards postulants*/

.bg-green-card {
    box-shadow: 5px 5px 10px rgb(34, 110, 59);
}

.bg-red-card {
    box-shadow: 5px 5px 10px rgb(189, 63, 63);
}

.bg-yellow-card {
    box-shadow: 5px 5px 10px rgb(218, 196, 71);
}


/*cards vacancy-postulant-process*/

.bg-success-card {
    background-color: rgb(34, 110, 59);
}

.bg-fail-card {
    background-color: rgb(189, 63, 63);
}

.bg-process-card {
    background-color: rgb(218, 196, 71);
}


/* ---------------------BUTTONS------------------------------- */

.buttonLogIn {
    color: white;
    border-color: white;
    border-style: solid;
    border-width: 3px;
    border-radius: 25px;
    height: 45px;
    width: 160px;
    margin-top: 40px;
    margin-left: 32px;
}

.buttonLogIn2 {
    color: white;
    border: none;
    border-radius: 25px;
    height: 45px;
    width: 160px;
}

.buttonLogIn3 {
    margin-top: 25px;
    color: white;
    border: none;
    border-radius: 2px;
    height: 45px;
    width: 160px;
    margin-bottom: 20px;
}

.pos {
    margin-left: 20px;
}

.ing {
    margin-top: 25px;
    margin-left: 82px;
}

.reg {
    margin-top: 15px;
    margin-left: 98px;
}

.buttonLogIn3Select {
    background-color: #018793ce;
    box-shadow: 1px 2px 5px #666;
}

.buttonLogIn2:hover {
    background-color: #10b5c4da;
}

.buttonLogIn:hover {
    animation-name: butLog;
    animation-duration: 1s;
}

@keyframes butLog {
    0% {
        background-color: #018893;
    }
    50% {
        background-color: rgba(0, 205, 195, 0.582);
    }
    100% {
        background-color: #018893;
    }
}


/* ---------------------CARDS------------------------------- */


/*Cards jobs*/

.card-job {
    background-color: #EBE8E3;
    width: 180px;
    height: 170px;
    margin: 20px;
    box-shadow: 2px 2px 8px #666;
    border-radius: 3px;
    text-align: center;
}

.card-job img {
    width: 25px;
    bottom: 0;
    margin-top: 10px;
    margin-left: 130px;
    cursor: pointer;
}

.card-job p {
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 20px;
}

.card-job .plus {
    width: 125px;
    margin: 25px;
}

.card-job:hover {
    background-color: rgb(243, 240, 234);
    box-shadow: 3px 3px 10px #666;
}


/*Cards postulant*/

.card-postulant {
    width: 150px;
    height: 140px;
    border-radius: 50%;
    cursor: pointer;
    margin: 5px;
}

.col-sm-3 .col-sm-4 {
    margin: 4px!important;
    padding: 4px!important;
}


/*Cards recruiter*/

.card-recruiter {
    background-color: #01879386;
    width: 180px;
    height: 210px;
    margin: 20px;
    box-shadow: 2px 2px 8px #666;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    color: white;
}

.card-recruiter img {
    width: 180px;
    height: 170px;
}

.card-recruiter p {
    margin-top: 10px;
}

.card-recruiter:hover {
    background-color: #50b5be8e;
}

.card-recruiter .plus {
    width: 125px;
    margin: 25px;
}


/*Cards global skills*/

.skill-global {
    background-color: rgba(216, 142, 93, 0.795);
    width: 180px;
    height: 210px;
    margin: 20px;
    box-shadow: 2px 2px 8px #666;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    color: white;
}

.skill-global:hover {
    background-color: rgba(216, 142, 93, 0.95);
}

.skill-global img {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 130px;
}

.skill-global .plus {
    margin-top: 30px;
}


/*Cards skills*/

.skill {
    background-color: rgba(253, 170, 61, 0.795);
    width: 250px;
    height: 60px;
    margin: 20px;
    box-shadow: 2px 2px 8px #666;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    color: white;
}

.skill img {
    width: 40px;
    margin-top: 8px;
    margin-left: 15px;
}

.skill p {
    margin-top: 20px;
}

.skill:hover {
    background-color: rgba(253, 170, 61, 0.95);
}


/*Cards vacancy*/

.vacancy {
    background-color: #EBE8E3;
    width: 180px;
    height: 130px;
    margin: 20px;
    margin-bottom: 0px;
    box-shadow: 2px 2px 8px #666;
    border-radius: 3px;
    text-align: center;
}

.vacancy img {
    width: 25px;
    margin-top: 10px;
    margin-left: 130px;
    margin-bottom: 10px;
    cursor: pointer;
}

.postulants {
    width: 180px;
    height: 40px;
    margin: 20px;
    margin-top: 5px;
    color: white;
    box-shadow: 2px 2px 8px #666;
    border-radius: 3px;
    font-size: 15px;
}

.postulants img {
    width: 25px;
    margin-top: 7px;
    margin-left: 15px;
    margin-right: 0;
}

.postulants p {
    margin-top: 10px;
    margin-left: 10px;
}

#number {
    margin-left: -5px;
}


/*Cards vacancy postulant*/

.vacancy1 {
    background-color: #EBE8E3;
    width: 190px;
    height: 185px;
    margin: 20px;
    margin-bottom: 0px;
    box-shadow: 2px 2px 8px #666;
    border-radius: 3px;
    text-align: center;
    font-size: 13px;
}

.vacancy1 img {
    width: 190px;
    height: 130px;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 10px;
    cursor: pointer;
}

.postulants1 {
    width: 190px;
    height: 40px;
    margin: 20px;
    margin-top: 5px;
    color: white;
    box-shadow: 2px 2px 8px #666;
    border-radius: 3px;
    font-size: 15px;
}

.postulants1 img {
    width: 25px;
    margin-top: 7px;
    margin-left: 15px;
    margin-right: 0;
}

.postulants1 p {
    margin-top: 10px;
    margin-left: 10px;
}


/* ---------------------MODALS------------------------------- */


/*----------------------INPUTS--------------------------------*/


/*LogIn*/

.inputLogIn {
    margin-bottom: 8px;
    width: 240px;
    height: 38px;
    background-color: rgba(255, 133, 51, 0.137);
    border: none;
    border-radius: 10px;
    margin-left: 40px;
    align-content: center;
    padding-left: 15px;
}

.reg1 {
    margin-left: 55px;
}